.restaurant-container {
    position: relative;
    height: 100vh;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #000;
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    margin-bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://media.brandalley.co.uk/catalog/product/cache/1/image/900x/c328707a3c432302e119a0cb3e816d26/1/6/16362286-1.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Adjust the opacity as needed */
  }
  
  .content h1{
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 400;
    font-family: 'PT Serif Caption', serif;
  }

  .content p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Dai Banna SIL', serif;
    
  }
  .buttons {
    display: flex;
    justify-content: space-between; /* Add space between buttons */
    margin-top: 35%;
    margin-left: 39%;
    margin-right: 39%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    background-color: whitesmoke; /* Add your desired color here */
    color: #fff; /* Set the text color to contrast with the background */
    border: none; /* Remove the default button border */
  }
  
  #rtable {
    background-color: rgb(219, 169, 19);
  }
  
  #menu {
    background-color: transparent;
    border: solid 2px #fff;
    opacity: 1;
  }
  
  
  /* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .content h1,
  .content p {
    font-size: 40px; /* Adjust the font size for smaller screens */
  }

  .buttons {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
  }

  button {
    font-size: 16px; /* Adjust the font size for smaller screens */
  }
}