.querySub{
  margin-top: 0px;
  margin-bottom: 0px;
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
	grid-gap:20px;
}
.querySub .card{
	position:relative;
	width:450px;
  height: 600px;
	margin: 50px auto;
	background:#333;
	padding:20px;
	box-sizing: border-box;
	text-align:center;
	box-shadow:0 10px 40px rgba(0,0,0,.5);
	overflow: hidden;
}
.querySub .card .layer{
	position: absolute;
	top: calc(100% - 3px);
	width:100%;
	height:100%;
	left:0;
	background:linear-gradient(#03a9f4, #e81dd3);
	z-index:1;
	transition:0.5s;
}


.querySub .card .cardheading {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    font-family: sans-serif;
  }
  .querySub .card .cardheading p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    font-family: sans-serif;
  }
  
  
  .querySub .card .timming{
    margin-top: 60px;
    color: #fff;
  }
  .querySub .card .nheading {
    margin-top: 50px;
    color: #fff;
  }

  .querySub .card .timming hr{
    margin-left: 15px;
    margin-top: 20px;
    width: 380px;
    height: 4px;
    background-color: #cec043;
    border: none;
  }
  
  .querySub .card .timming h3,
  .querySub .card .nheading h3 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  .querySub .card .timming h4,
  .querySub .card .nheading p {
    margin: 10px 0;
    color: #fff;
  }
  
  
  .querySub .card .form {
    margin-top: 20px;
  }
  
  .querySub .card .form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .querySub .card .form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(176, 163, 42);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .querySub .card .form button:hover {
    background-color: rgb(239, 222, 160);
  }
  .cardf-button button{
    width: 60%;
    padding: 10px;
    background-color: rgb(176, 163, 42);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-top: 20px; 
  }
  .cardsf-button button{
    width: auto;
    padding: 10px;
    background-color: rgb(176, 163, 42);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;  
  }